/***************** OGÓLNE *********************/
:root {
    --blue00: #F2F5F8;
    --blue01: #c8d8e4;    
    --blue11: #2b6777;
    --blue12: #005e9b;
    --blue125: #004e81;
    --blue21: #283644;
    --blue215: #232f3b;
}
html, body{
    margin: 0;
    height:100%;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}
/***************** Pasek nawigacji *********************/
.nav_container {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--blue12);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/*****************----------------------- *********************/
b{
    color: #005e9b;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
}
button{
    color: white;
    background-color: var(--blue12);
    border:none;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 15px;
    margin: 2px 0;
    cursor: pointer;
}
button:hover{
    background-color: var(--blue125)
}
input, textarea{
    border: 1px rgb(200, 200, 200) solid;
    font-size: inherit;
    padding: 3px 5px;
    /*margin-top:2px;*/
    border-radius: 5px;
    font: inherit;
}
input:hover, textarea:hover{
    border: 1px var(--blue12) solid;
}
/***************** ZARZĄDZANIE *********************/
.main_container{ 
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.mid_container{ 
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.middle_block{
    background-color: var(--blue00);
    border: 1px var(--blue12) solid;
    width:98%;
    margin-bottom: 20px;
    border-radius: 10px;
}
#add{ 
    border: 1px var(--blue12) dashed;
    color:var(--blue12);
    text-align: center;
}
#add>.line{
    padding: 0 10px;
}
#add, #remove, #user_info, #choose_role, #new_user, #change_book, #book_info{
    padding: 15px 0;
}
#remove{
    text-align: center;
}
#remove>.line{
    padding: 0 10px;
    margin-bottom: 10px;
}
#remove>.buttons{
    padding: 0 10px;
}
#remove>.buttons>button{
    margin: 2px 4px;
}
#user_info>.info>.line{
    padding: 0 20px;
    margin-bottom: 7px;
}
#user_info>.buttons{
    height:0;
    overflow:hidden;
    transition-duration: 0.2s;
}
#user_info:hover .buttons{
    height:96px;
    transition-duration: 0.5s;
}
#user_info>.buttons>.line{
    padding: 0 20px;
}
#user_info>.buttons>.line>button{
    width: 100%;
} 
#choose_role>.line, #new_user>.line{
    padding: 0 20px;
    margin-bottom: 15px;
    text-align:center;
}
#choose_role>.line>.role_radios>.radio, #new_user>.line>.role_radios>.radio{
    margin-bottom: 5px;
    text-align: left;
}
#choose_role>.buttons, #new_user>.buttons, #change_book>.buttons{
    padding: 0 20px;
    text-align: right;
}
#choose_role>.buttons>button, #new_user>.buttons>button, #change_book>.buttons>button{
    margin: 2px 0 2px 8px;
}
#new_user>.input_line, #change_book>.up>.left>.input_line, #change_book>.up>.right>.input_line{
    padding: 0 20px;
    margin-bottom: 15px;
}
#change_book>.up>.left>.input_line:last-of-type{
    margin-bottom: 10px;
}
#new_user>.input_line>input, #change_book>.up>.left>.input_line>input, #change_book>.up>.right>.input_line>input, #change_book>.up>.right>.input_line>textarea{
    width:98%;
    margin-top:5px;
}
#book_info>.up>.left>.up{
    display:flex;
    flex-direction: row;
}
#book_info>.up>.left>.up>.picture{
    width:25%;
}
#book_info>.up>.left>.up>.picture>img{
    width:60%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
#book_info>.up>.left>.up>.basic_info{
    width:75%;
}
#book_info>.up>.left>.up>.basic_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#book_info>.up>.left>.desc_phone, #book_info>.desc_pc, #book_info>.up>.right>.quantity, #book_info>.up>.right>.buttons{
    padding: 0 20px;
} 
#book_info>.up>.right{
    display:flex;
    flex-direction: column;
}
#book_info>.up>.right>.buttons{
    text-align: right;
}
#book_info>.desc_pc{
    display: none;
}
#book_info>.up>.left>.up, #book_info>.up>.left>.desc_phone, #book_info>.up>.right>.quantity{
    margin-bottom: 20px;
}
#book_info>.up>.right>.buttons{
    height:0;
    overflow: hidden;
    transition-duration: 0.2s;
}
#book_info:hover .up>.right>.buttons{
    overflow: unset;
    height:31px;
    transition-duration: 0.5s;
}


@media only screen and (min-width: 481px){
/***************** ZARZĄDZANIE *********************/
    html, body{
        font-size: 15px;
    }
    .mid_container{
        width:460px;
    }
    .middle_block{
        width:100%;
        margin-bottom: 25px;
    }
    #user_info>.info{
        width: 60%;
        float:left;
    }
    #user_info>.buttons{
        width: 40%;
        float:left;
    }
    #user_info>.buttons>.line>button{
        margin:2px 0;
    }
    #user_info>.info>.line{
        margin-bottom: 15px;
    }

    #user_info>.buttons{
        height:unset;
        overflow:unset;
        visibility: hidden;
    }
    #user_info:hover .buttons{
        visibility: visible;
    }
    #choose_role>.line>.role_radios, #new_user>.line>.role_radios{
        display: inline-block;
        text-align: center;
    }
    #choose_role>.line>.role_radios>.radio, #new_user>.line>.role_radios>.radio{
        float: left;
    }
    #new_user>.input_line>input, #change_book>.input_line>textarea{
        width:330px;
        margin-top:0;
        float:right;
    }
}

@media only screen and (min-width: 769px){
/***************** ZARZĄDZANIE *********************/
    html, body{
        font-size: 16px;
    }
    .mid_container{
        width:600px;
    }
    .middle_block{
        margin-bottom: 30px;
    }
    #choose_role>.line{
        margin-bottom: 20px;
    }
    #new_user>.input_line>input{
        width:470px;
        margin-top:0;
        float:right;
    }
    #change_book>.up>.left{
        width:49%;
        float:left;
    }
    #change_book>.up>.right{
        width:49%;
        float:left;
    }
    #change_book>.up>.right>.input_line>textarea{
        height: 310px;
    }
    #book_info>.desc_pc{
        display: block;
    }
    #book_info>.up>.left>.desc_phone{
        display: none;
    }
    #book_info>.up{
        display: flex;
        flex-direction: row;
    }
    #book_info>.up>.left{
        width:70%;
    }
    #book_info>.up>.right{
        width:30%;
    }
    #book_info>.up>.left>.up>.picture>img{
        width:70%;
    }
    #book_info>.up>.right>.quantity{
        text-align: right;
    }

    #book_info>.up>.right>.buttons{
        height:auto;
        overflow: unset;
        display: none;
    }
    #book_info:hover .up>.right>.buttons{
        display:block;
    }
    #book_info>.up>.right>.buttons>button{
        width:120px;
    }

}

/*

@media only screen and (min-width: 1024px){

}

@media only screen and (min-width: 769px){

}
